@import 'bulma/css/bulma.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tile.is-button-tile {
  border-color: #4a4a4a;
  color: #363636;
  border-width: 1px;
  justify-content: center;
  text-align: center; 
}

.tile.is-button-tile:hover, .tile.is-button-tile.is-hovered {
  background-color: #ffdc7d;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.tile.is-button-tile:focus, .tile.is-button-tile.is-focused {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.tile.is-button-tile:focus:not(:active), .tile.is-button-tile.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 224, 138, 0.25);
}

.tile.is-button-tile:active, .tile.is-button-tile.is-active {
  background-color: #ffd970;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
